.box {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7%;
    width: 6.8vw;
    height: 6.8vw;
    background-color: blanchedalmond;
    border: 2px solid #f7f7f7;

}

.box-dummy {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7%;
    width: 6.8vw;
    height: 6.8vw;
    background-color: #f7f7f7;
    border: 2px solid #f7f7f7;

}

